In [1]:
import numpy as np
from bqplot import pyplot as plt
import bqplot
import pandas as pd

In [4]:
df = pd.read_excel('/Users/keeskoot/nw_project/westland2/Netmeting_schoon_ ABC Westland - Poeldijk.xlsx')
df

               WINTERTIJD           ZOMERTIJD  Leveren  Terugleveren    TOTAAL
0     2021-04-11 13:30:00 2021-04-11 14:30:00      0.0        -323.0      -323
1     2021-04-11 13:15:00 2021-04-11 14:15:00      0.0        -311.0      -311
2     2021-04-11 12:45:00 2021-04-11 13:45:00      0.0        -278.0      -278
3     2021-05-23 11:45:00 2021-05-23 12:45:00      0.0        -276.0      -276
4     2021-05-23 13:45:00 2021-05-23 14:45:00      0.0        -271.0      -271
...                   ...                 ...      ...           ...       ...
28792 2021-07-12 15:30:00 2021-07-12 16:30:00    944.0           0.0       944
28793 2021-07-12 15:45:00 2021-07-12 16:45:00    947.0           0.0       947
28794 2021-07-26 07:45:00 2021-07-26 08:45:00    949.0           0.0       949
28795 2021-06-18 15:45:00 2021-06-18 16:45:00    989.0           0.0       989
28796                 NaT                 NaT      NaN           NaN  15006325

[28797 rows x 5 columns]